doctype html
html
  head
    title Patio Apps 
    link(rel='stylesheet', type='text/css', href='../css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  body
    .wrapper
      .users.header
        nav.navbar.navbar-default
          .content
            div
              div(navbar-header='')
                a(href='index')
                  img.navbar-brand(src='', alt='img')
                  | 								Patio
                button.navbar-toggle.custom-bulid.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
                  span.bar
                  span.bar
                  span.bar
                  span.bar
              #navbar.navbar-collapse.collapse(style='height:1px;')
                ul.nav.navbar-nav.navbar-right
                  li
                    a.header-link(href='index') Home
                  li
                    a.header-link(href='apps') Apps
                  li
                    a.header-link(href='article') Article 
                  li
                    a.signup-link(data-toggle='modal', data-target='#signup', href='#') Login
                  li
                    a.signup-link(data-toggle='modal', data-target='#signup', href='#') Sign Up
    footer
      p Thanks to reading
      p copyrights
