doctype html
html(ng-app='PatioWeb')
  head
    title Welcome to Patio!
    link(rel='stylesheet', type='text/css', href='../css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    nav.navbar.navbar-default.navbar-fixed-top
      .navbar-inner
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index')
              img#logo(alt='Logo', src='../img/Patio.png')
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='index') Home
              li
                a(href='apps') Apps
              li
                a(href='article') Article
            ul.nav.navbar-nav.navbar-right
              li
                a.signup-link( data-target='#login', href='login') Login
              li
                a.signup-link( data-target='#signup', href='signup') Sign Up
                
    #ff-catalog-header
      .gradient
        .container
          .ff-heavy.content
            img(alt='Catalog_bird', src='')
            h1 Discover Unlimited Apps
            p(style='padding-bottom: 20px;')
              | Unlimited access to over apps
              br
              | means story time never has to end.
        .container.topapps
          .ff-appcover
            a(href='')
              img.thumb(alt='Miss Applebottom', src='https://cdn.farfaria.com/uploads/story/cover_art/537aa6fc884c17adf6000001/small_320_0-Cover1v6-MissApplebottom-VShing-EFerrer.jpg')
          .ff-appcover
            a(href='')
              img.thumb(alt='Crab Caper', src='https://cdn.farfaria.com/uploads/story/cover_art/55230ce90fd80ca9ce000001/small_320_0-Final-Cover-CrabCaper-JBlessing-EFerrer.jpg')
          .ff-appcover
            a(href='')
              img.thumb(alt='Luke and Lexi Ladybug', src='https://cdn.farfaria.com/uploads/story/cover_art/5006f2a25cb6950002000008/small_320_luke_and_lexi_1_9614.jpg')
          

    section#learn-more.listApp.bg-apps
      header.intro.intro-apps
        .container
          h1 Everything you need to drive your kids to be better
          p
            | PatioWeb helps you teach your kids and to be more realistic thinker

    #products.row.list-group
      .item.col-xs-4.col-lg-4
        .thumbnail
          img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
          .caption
            h4.group.inner.list-group-item-heading
              | Product title
            p.group.inner.list-group-item-text
              | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .row
              .col-xs-12.col-md-6
                p.lead
                  | $21.000
              .col-xs-12.col-md-6
                a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
      .item.col-xs-4.col-lg-4
        .thumbnail
          img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
          .caption
            h4.group.inner.list-group-item-heading
              | Product title
            p.group.inner.list-group-item-text
              | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .row
              .col-xs-12.col-md-6
                p.lead
                  | $21.000
              .col-xs-12.col-md-6
                a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
      .item.col-xs-4.col-lg-4
        .thumbnail
          img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
          .caption
            h4.group.inner.list-group-item-heading
              | Product title
            p.group.inner.list-group-item-text
              | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .row
              .col-xs-12.col-md-6
                p.lead
                  | $21.000
              .col-xs-12.col-md-6
                a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
      .item.col-xs-4.col-lg-4
        .thumbnail
          img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
          .caption
            h4.group.inner.list-group-item-heading
              | Product title
            p.group.inner.list-group-item-text
              | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .row
              .col-xs-12.col-md-6
                p.lead
                  | $21.000
              .col-xs-12.col-md-6
                a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
      .item.col-xs-4.col-lg-4
        .thumbnail
          img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
          .caption
            h4.group.inner.list-group-item-heading
              | Product title
            p.group.inner.list-group-item-text
              | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .row
              .col-xs-12.col-md-6
                p.lead
                  | $21.000
              .col-xs-12.col-md-6
                a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
      .item.col-xs-4.col-lg-4
        .thumbnail
          img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
          .caption
            h4.group.inner.list-group-item-heading
              | Product title
            p.group.inner.list-group-item-text
              | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .row
              .col-xs-12.col-md-6
                p.lead
                  | $21.000
              .col-xs-12.col-md-6
                a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
                    
    
    .users.footer
      .content
        .columns
          .column.patio
            .title
              h4 Patio
              .underline
            ul.footer-links
              li
                a.link(href='#') About us
              li
                a.link(href='#') Contact us
              li
                a.link(href='#') Blog
              li
                a.link(href='#') Join us

          .column.about-us
            .title
              h4 About Us
              .underline
            p.text Hi Hello and Bye
              
     

    //script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js')
  script(src='/js/bootstrap.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js') 
  script(src='/javascripts/App.controller.js')
  script(src='/javascripts/main.js')

