doctype html
html(ng-app='PatioWeb')
  head
    title Welcome to Patio!
    link(rel='stylesheet', type='text/css', href='../css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    nav.navbar.navbar-default.navbar-fixed-top
      .navbar-inner
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index')
              img#logo(alt='Logo', src='../img/Patio.png')
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='index') Home
              li
                a(href='apps') Apps
              li
                a(href='article') Article
            ul.nav.navbar-nav.navbar-right
              li
                a.signup-link( data-target='#signup', href='loginPage') Login
              li
                a.signup-link( data-target='#signup', href='signupPage') Sign Up


    main.blogIndex.app__topPad
      .grid.app__bottomPad
        .pageHeading
          h2.pageHeading__subtitle PatioWeb World
          h1.pageHeading__title Latest Articles
        .blogLayout
          .blogLayout__mainPane
            .blogPostPreview.blog__container
              figure.blog__mainImage
                img.image.blog__mainImageImg(src='https://www.curiousworld.com/assets/lkg5uoo2te2j/13qzKFBtpMQakeqoE0A8Mq/31b7ba9c1995bbd6d80749ba7e44b930/bigstock-Girl-Planting-Flower-Seeds-Int-101070113.jpg?fl=progressive&fm=jpg&q=80&w=700', srcset='https://www.curiousworld.com/assets/lkg5uoo2te2j/13qzKFBtpMQakeqoE0A8Mq/31b7ba9c1995bbd6d80749ba7e44b930/bigstock-Girl-Planting-Flower-Seeds-Int-101070113.jpg?fl=progressive&fm=jpg&q=80&w=700 1x, https://www.curiousworld.com/assets/lkg5uoo2te2j/13qzKFBtpMQakeqoE0A8Mq/31b7ba9c1995bbd6d80749ba7e44b930/bigstock-Girl-Planting-Flower-Seeds-Int-101070113.jpg?fl=progressive&fm=jpg&q=80&w=1400 2x', width='700', alt='Little girl planting seeds in pots')
              .pageHeading
                h2.pageHeading__subtitle
                  | Family Activities
                h1.pageHeading__title
                  | How to Turn Your Family Garden into a Learning Adventure
              .blog__content
                p
                  | It looks like spring
                  |  has finally arrived. In some areas of the country, we thought it would never get here. Is your green thumb starting to itch? Whether you create a small…
            .blogPostPreview.blog__container
              figure.blog__mainImage
                img.image.blog__mainImageImg(src='https://www.curiousworld.com/assets/lkg5uoo2te2j/6ahWEF1gaWiAa2qCe2mI2E/7a4bcca48a5c160afb8f9e7413545d0d/4-14-17_STEAM_Lit.jpg?fl=progressive&fm=jpg&q=80&w=700', srcset='https://www.curiousworld.com/assets/lkg5uoo2te2j/6ahWEF1gaWiAa2qCe2mI2E/7a4bcca48a5c160afb8f9e7413545d0d/4-14-17_STEAM_Lit.jpg?fl=progressive&fm=jpg&q=80&w=700 1x, https://www.curiousworld.com/assets/lkg5uoo2te2j/6ahWEF1gaWiAa2qCe2mI2E/7a4bcca48a5c160afb8f9e7413545d0d/4-14-17_STEAM_Lit.jpg?fl=progressive&fm=jpg&q=80&w=1400 2x', width='700', alt='Selection of STEAM picture books')
              .pageHeading
                h2.pageHeading__subtitle
                  | Top Book Picks
                h1.pageHeading__title
                  | 10 Books That Combine STEAM Learning with Storytime
              .blog__content
                p
                  | Over the past several years, social media, education blogs, and state education policies have been increasingly discussing STEM
            .blogPostPreview.blog__container
              figure.blog__mainImage
                img.image.blog__mainImageImg(src='https://www.curiousworld.com/assets/lkg5uoo2te2j/3l2Dd8JMCAA0mG4iMuAqOS/2e97d7c27dbd813df2de6e39713600ae/bigstock-Asian-Chinese-Little-Girl-Play-176500975.jpg?fl=progressive&fm=jpg&q=80&w=700', width='700', alt='Little girl planting seeds in pots')
              .pageHeading
                h2.pageHeading__subtitle
                  | Family Activities
                h1.pageHeading__title
                  | 5 Fun Patio Projects for Little Kids
              .blog__content
                p
                  | The fun movement has taken root in our culture over the past several years. You may be aware of the acronym, but wonder what it means. STEAM stands for 
          .blogLayout__sidePane
            .blogLayout__sidePaneBox.blog
              h1.blogLayout__sidePaneHeading
                a(href='/index', style='text-decoration:none;')
                  span.blogLayout__sidePaneHeading1 PatioWeb
              p.blogLayout__description Get advice and inspiration for how to spark a love of learning in our kids!
              hr
              h2.blogLayout__sidePaneSubheading Select a topic
              ul.blogLayout__categories
                li.blogLayout__category
                  a(href='https://www.google.com/search?q=parent+activites&oq=parent+activites&aqs=chrome..69i57j0l5.7337j0j7&sourceid=chrome&ie=UTF-8#q=parent+activities',target='_blank', style='text-decoration:none;') Family Activities
                li.blogLayout__category
                  a(href='http://www.parents.com/parenting/better-parenting/advice/ways-to-be-fantastic-parent/', target='_blank',style='text-decoration:none;') Parenting Tips
                li.blogLayout__category
                  a(href='https://www.curiousworld.com/blog/category/top-book-picks',target='_blank', style='text-decoration:none;') Top Article Picks
            .blogLayout__sidePaneBox.blogLayout__sidePaneBox--grey
              p.blogLayout__connect Connect with us
              .socialIcons
                a.ext-link.socialIcons__socialIcon(target='_blank', rel='noopener noreferrer', href='')
                  img(src='../img/fb.png', alt='Facebook', width='36', height='36')
                a.ext-link.socialIcons__socialIcon(target='_blank', rel='noopener noreferrer', href='')
                  img(src='../img/ig.png', alt='Instagram', width='36', height='36')
                a.ext-link.socialIcons__socialIcon(target='_blank', rel='noopener noreferrer', href='')
                  img(src='../img/pin.png', alt='Pinterest', width='36', height='36')
                a.ext-link.socialIcons__socialIcon(target='_blank', rel='noopener noreferrer', href='')
                  img(src='../img/twt.png', alt='Twitter', width='36', height='36')
                a.ext-link.socialIcons__socialIcon(target='_blank', rel='noopener noreferrer', href='')
                  img(src='../img/utube.png', alt='Youtube', width='36', height='36')
            a.blogLayout__sidePaneCta(href='http://pbskids.org/games/',target='_blank' style='text-decoration:none;')
              .blogLayout__sidePaneBox.blogLayout__sidePaneBox--grey
                img.blogLayout__sidePaneCtaLogo(src='../img/Patio.png', alt='Curious World', width='300', height='170', data-reactid='819')
                img.image.blogLayout__sidePaneCtaImg(src='https://www.curiousworld.com/assets/lkg5uoo2te2j/bGMiJQJWtqsyysg4CWuOc/40492ddb234cc4ec2b450ae766b89188/cw_ios.png?h=189&w=333', srcset='https://www.curiousworld.com/assets/lkg5uoo2te2j/bGMiJQJWtqsyysg4CWuOc/40492ddb234cc4ec2b450ae766b89188/cw_ios.png?h=189&w=333 1x, https://www.curiousworld.com/assets/lkg5uoo2te2j/bGMiJQJWtqsyysg4CWuOc/40492ddb234cc4ec2b450ae766b89188/cw_ios.png?h=378&w=666 2x', width='333', height='189', alt='Try the Curious World app for iPhone & iPad.')
                h3.blogLayout__sidePaneCtaHeading Learn to Patio
                p
                  | #1 early learning app featuring educational games, videos, and books for kids ages 2–7.












              
    .users.footer
      .content
        .columns
          .column.patio
            .title
              h4 Patio
              .underline
            ul.footer-links
              li
                a.link(href='#') About us
              li
                a.link(href='#') Contact us
              li
                a.link(href='#') Blog
              li
                a.link(href='#') Join us

          .column.about-us
            .title
              h4 About Us
              .underline
            p.text Hi Hello and Bye
              
     

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js')
  script(src='/js/bootstrap.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js') 
  script(src='/javascripts/article.controller.js')
  script(src='/javascripts/main.js')
  script(src='/javascripts/signup.controller.js')
  script(src='/javascripts/App.controller.js')
