//- #ff-home-leader.ff-fullheight(style='height: 785px;')
//-     .ff-fullheight-vertical.middle
//-     .container
//-         .ff-fullheight-text.right.ff-heavy
//-         h1
//-             | Long time ago
//-             br
//-             | in the Palm of Their Hands
//-         p.ff-ignore-linebreaks-360px
//-             | On the go, or tucked in tight,
//-             br
//-             | PatioWeb unleashes magics for the lil ones.
//-             br
//-         p
//-             a.btn.btn-default.btn-patio.btn-lg(href='#downloadModal', data-toggle='modal', role='button')
//-             | Get the App 
//-             span.glyphicon.glyphicon-play

//- #ff-home-testimonials.ff-testimonial-carousel.bear-background.ff-blue-module.carousel.slide(data-ride='carousel', data-pause='false', data-interval='4000')
//-     // Indicators
//-     ol.carousel-indicators
//-     li(data-target='#ff-home-testimonials', data-slide-to='0')
//-     li(data-target='#ff-home-testimonials', data-slide-to='1')
//-     li.active(data-target='#ff-home-testimonials', data-slide-to='2')
//-     li(data-target='#ff-home-testimonials', data-slide-to='3')
//-     .carousel-inner.module-inner
//-     .item
//-         .ff-vertical-container
//-         .ff-vertical.middle
//-             .quote “Brain Expander.”
//-             .source
//-             img(alt='', src='')
//-     .item
//-         .ff-vertical-container
//-         .ff-vertical.middle
//-             .quote
//-             | “
//-             span.small If my children only had one app 
//-             span THIS would be it.
//-             | ”
//-             .source — Mom of three
//-     .item.active
//-         .ff-vertical-container
//-         .ff-vertical.middle
//-             .quote “A Solid Literacy Tool.”
//-             .source
//-             img(alt='', src='')
//-     .item
//-         .ff-vertical-container
//-         .ff-vertical.middle
//-             .quote
//-             | “
//-             span.small Excels not just in its content 
//-             span but in its execution.
//-             | ”
//-             .source
//-             img(alt='', src='')

//- section#how-it-works.section.section--steps
//-     .container.cont-top
//-     .row
//-         .col-sm-12.col-lg-10.col-lg-push-1
//-         .step
//-             .row
//-             .row__parallel-sm.row__parallel-md.row__parallel-lg
//-                 .col-sm-5.col-sm-push-7.col-md-4.col-md-push-8
//-                 .step__icon
//-                     i.icon.icon--lg.icon--step-gurantee
//-                 .col-sm-7.col-sm-pull-5.col-md-8.col-md-pull-4
//-                 h2.step__heading Kids Education
//-                 p.step__caption.h5
//-                     | Free play and guided play—together known as playful learning—are pedagogical tools through which children can learn in joyful and conceptually rich ways

//-     .row
//-         .col-sm-12.col-lg-10.col-lg-push-1
//-         .step
//-             .row
//-             .row__parallel-sm.row__parallel-md.row__parallel-lg
//-                 .col-sm-5.col-md-4
//-                 .step__icon
//-                     i.icon.icon--lg.icon--step-quote
//-                 .col-sm-7.col-md-8
//-                 h2.step__heading Parenting
//-                 p.step__caption.h5
//-                     | Guided play helps children learn to solve problems, persist through challenges, build vocabulary skills, and gain background knowledge in many content areas

//-     .row
//-         .col-sm-12.col-lg-10.col-lg-push-1
//-         .step
//-             .row
//-             .row__parallel-sm.row__parallel-md.row__parallel-lg
//-                 .col-sm-5.col-sm-push-7.col-md-4.col-md-push-8
//-                 .step__icon
//-                     i.icon.icon--lg.icon--step-payment
//-                 .col-sm-7.col-sm-pull-5.col-md-8.col-md-pull-4
//-                 h2.step__heading Safe & Simple 
//-                 p.step__caption.h5
//-                     | Your little ones will also learn new vocabulary words and can record themselves reading the books when they’ve finished! iPad, iPhone, iPod Touch, Android; free with first e-book.!
