doctype html
html(ng-app='PatioWeb')
  head
    title Welcome to Patio!
    link(rel='stylesheet', type='text/css', href='../css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index') PatioWeb
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='index')
                | Home
                span.sr-only (current)
            li
              a(href='apps') Apps
            li
              a(href='article') Article
          ul.nav.navbar-nav.navbar-right
            li
              a.signup-link(data-toggle='modal', data-target='#signup', href='#') Login
            li
              a.signup-link(data-toggle='modal', data-target='#signup', href='#') Sign Up

    .content-top
      section.first-section
        .container
          .row
            .col-sm-12
              .intro
                img.intro__logo.visible-xs(src='', alt='')
                h2.intro__heading.h1.hidden-xs
                  | Welcome To 
                  br.visible-sm
                  | Patio Web
                h4.intro__subheading
                  | The simplest way to get your teach kids. 
                  em Guaranteed
                  | .
    .row.section-info
      .section-one
        .col-md-6
          h2 Annoucement
          p
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur. Praesent nec odio eros. Sed commodo quam non pharetra ultricies. Nullam id tellus semper dui sollicitudin port.
          p
            a.btn.btn-success(href='http://www.tutorialrepublic.com/html-tutorial/', target='_blank') Learn More »
        .col-md-6
          h2 Information
          p
            | CSS is used for describing the presentation of web pages. The CSS tutorial section will help you learn the essentials of CSS, so that you can fine control the style and layout of your HTML document.
          p
            a.btn.btn-success(href='http://www.tutorialrepublic.com/css-tutorial/', target='_blank') Learn More »

      .section-two    
        .col-md-12
          h2 Blog Post
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur. Praesent nec odio eros. Sed commodo quam non pharetra ultricies. Nullam id tellus semper dui sollicitudin port.
          p
            a.btn.btn-success(href='http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/', target='_blank') Learn More »

      .section-three  
        .col-md-6
          h2 Top 10 Apps
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur. Praesent nec odio eros. Sed commodo quam non pharetra ultricies. Nullam id tellus semper dui sollicitudin port.
          p
            a.btn.btn-success(href='http://www.tutorialrepublic.com/html-tutorial/', target='_blank') Learn More »
        .col-md-6
          h2  Featured Apps
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur. Praesent nec odio eros. Sed commodo quam non pharetra ultricies. Nullam id tellus semper dui sollicitudin port.
          p
            a.btn.btn-success(href='http://www.tutorialrepublic.com/css-tutorial/', target='_blank') Learn More »

              
    
    .users.footer
      .content
        .columns
          .column.patio
            .title
              h4 Patio
              .underline
            ul.footer-links
              li
                a.link(href='#') About us
              li
                a.link(href='#') Contact us
              li
                a.link(href='#') Blog
              li
                a.link(href='#') Join us

          .column.about-us
            .title
              h4 About Us
              .underline
            p.text Hi Hello and Bye
              
     

    // 2. Load our 'modules'
    //script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    script(src='public/lib/jquery/dist/jquery.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-route/angular-route.js')
    script(src='server.js') 
    script(src='views/main.js')
    script(src='/js/bootstrap.js')
