
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
@import url('https://fonts.googleapis.com/css?family=Baloo');



header, section, footer, aside, nav, article, figure, figcaption div {
  display:block;
}
html, body{
	background-color:white;
	margin:0 auto;
	height: 100%;
	width: 100%;
	font-family: 'Baloo', cursive;
	font-weight: 400;
	line-height: 24px;
	color: #494949;
	letter-spacing: 0.5px;
	text-decoration: none;	
}



/*==============================================First section*/
.content-top{
	margin:0 auto;
	width:100%;
	min-height: 100%;
	position: relative;
	padding: 0;
	overflow: hidden;
	background-image:url("../img/legoPic.jpg") ;
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}
.intro{
	text-align: center;
	margin: 0 0 90px;
	margin-top: 250px;
	color: black;
}

.intro__heading.h1.hidden-xs{
	font-size: 60px;
}
.intro__subheading{
	font-size: 30px;
}

.article{
	margin:0 auto;
	width:100%;
	height: 100%;
	position: relative;
	text-align: center;
}
/*=====================================sliderOp*/


.ff-testimonial-carousel.bear-background{
	background-image: url();
	background-color: grey;
	background-repeat: no-repeat;
	height: 400px;
}



/*#ff-home-explore{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}*/
/*.ff-testimonial-carousel.item{
	text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 40px;
}*/


.ff-vertical-container{
	display: table;
	margin-left: auto;
	margin-right: auto;
}

/*.ff-vertical{
	display: table-cell;
}*/
.quote{
	font-size: 30px;
	margin-top: 60px;
}







/*==============================================Second Section */

.row.section-info{
	text-align: center;
	padding: 50px 0 0;
    background-color: #F9F9F9;
}
.row.section-info h2{
	font-size:3em;
	line-height: 4rem;
	color: #3498DB;
}

.section-one{
	margin-top: 20px;
	min-height: 300px;

}

.section-two	{
	min-height: 300px;

}
.section-three{
	min-height: 300px;

}







/*================================================== test test test testHeader*/
/*.navbar-top {
	top: 0;
	right: 0;
	left: 0;
	margin-bottom: 0;
	overflow: visible;
}

.navbar-top .navbar-inner {
	box-shadow: none;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
}

.wrapper .navbar-inner{
	border: 0;
	background-image: none;
	background-color:#1a90bc;
	text-transform: uppercase;
	border-bottom: ;
}

.navbar-inner {
	min-height: 40px;
}

.wrapper .container{
	width: 98%;
}


.navbar .btn-navbar{
	background: none;
	border: none;
	margin: 21px 15px 17px;
	text-shadow: none;
	display: none;
	float: right;
	padding: 7px 10px;
}


.nav-collapse.collapse{
	height: auto;
	overflow: visible;
}
.collapse{
	position: relative;
}
.navbar .nav {
	margin-right: 0;
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
.nav ul{
	padding: 0;
}

.navbar-top .brand{
	padding: 20px 28px 20px 32px;
	color: #526476;
	margin-left:0;
	float: left;
	display: block;
}


.navbar-top .brand #name-wrap {
	overflow: hidden;
}

.navbar-top .brand {
	color: #fff;
	margin-left: 23px;
}


.navbar-custom .navbar-collapse{
  border-color: ;
  color:white;
}
.container>.navbar-collapse{
  margin-left: 0;
  margin-right: 0;
}

.navbar-fixed-top .navbar-collapse{
  max-height: 340px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-collapse.collapse{
  display: block;
  height: auto;
  padding-bottom: 0;
  overflow: visible;
}
.navbar-collapse{
  width:auto;
  border-top: 0;
  box-shadow: none;
}*/





/*Background text*/




#hero{
	width:100%;
	position: relative;
	margin: 0 auto;
}

figure{
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

#hero a.inner figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    -webkit-transform: translateZ(0);
}




/*Footer*/
.users.footer
{
	padding: 20px;
	background-color:#303236;
}
.users.footer .content{
	max-width: 1200px;
	margin:0 auto;
}

.users.footer .columns{
	display: flex;
}


.users.footer .content .column{
	padding: 20px 30px;

}

.users.footer .title h4{
	margin: 0px;
	padding:10px 0;
	color: #d8dade;
	font-size: 18px;
}
.users.footer .patio .underline{
	width: 30px;
	height: 5px;
	border-bottom: 2px solid #B54321;
}

.users.footer .patio .footer-links{
	margin: 0;
	padding: 30px 0 0;
}

.users.footer .patio .footer-links li{
	margin: 0px 20px 15px 0;
	display: block;
}

.users.footer .about-us .text{
	padding: 30px 0 0;
}

.users.footer .about-us .text p{
	margin: 0 0 10px;
	display: block;
}

/* Navbar New ill use do not delete
.navbar-default {
	transition: all .35s;
}

.navbar-fixed-top{
	top: 0;
	border-width: 0 0 1px;
	border-radius: 0;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1030;
}

.navbar {
	min-height: 50px;
	margin-bottom:20px;
	border: 1px solid transparent;
}

.container-fluid{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-right: auto;
}
.container-fluid>.navbar-header{
	margin-left: 0;
	margin-right: 0;
}
.navbar-header{
	float: left;
}

.navbar-default .navbar-toggle{
	border-color: #ddd;
}
.navbar-toggle{
	display: none;
	position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.button{
	-webkit-appearance:button;
	cursor: pointer;
	text-transform: none;
	overflow: visible;
	margin: 0;
	font: inherit;
	color: inherit;
}

.sr-only{
	position: absolute;
	width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #888;
	display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar>.container-fluid .navbar-brand{
	margin-left: -15px;
}
.navbar-brand{
	float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

a{
	text-decoration: none;
}*/
