
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
@import url('https://fonts.googleapis.com/css?family=Days+One');



header, section, footer, aside, nav, article, figure, figcaption div {
  display:block;
}

html, body{
  background-color:white;
  margin:0 auto;
  height: 100%;
  width: 100%;
  font-family: "";
  background-attachment: scroll;
}

.wrapper{
	min-height: 80vh;
}

.users.header{
	height: 75px;
	position: fixed;
	width: 100%;
	z-index: 5;
}
.users.header .content{
	max-width: 1200px;
	margin: 0 auto;
}
.users.header span.bar{
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #CC3349;
	border-radius: 9px;
	opacity: 1;
	left: 0;
}











































.navbar-top {
	top: 0;
	right: 0;
	left: 0;
	margin-bottom: 0;
	overflow: visible;
}

.navbar-top .navbar-inner {
	box-shadow: none;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
}

.wrapper .navbar-inner{
	border: 0;
	background-image: none;
	background-color:#1a90bc;
	text-transform: uppercase;
	border-bottom: ;
}

.navbar-inner {
	min-height: 40px;
}

.wrapper .container{
	width: 98%;
}
.container{
	margin-left: auto;
	margin-right: auto;
}

.navbar .btn-navbar{
	background: none;
	border: none;
	margin: 21px 15px 17px;
	text-shadow: none;
	display: none;
	float: right;'
	padding: 7px 10px;
}
.btn{
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	color: white;
}

.nav-collapse.collapse{
	height: auto;
	overflow: visible;
}
.collapse{
	position: relative;
}
.navbar .nav {
	margin-right: 0;
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
.nav ul{
	padding: 0;
}

.navbar-top .brand{
	padding: 20px 28px 20px 32px;
	color: #526476
	margin-left:0;
	float: left;
	display: block;
}


.navbar-top .brand #name-wrap {
	overflow: hidden;
}

.navbar-top .brand {
	color: #fff;
	margin-left: 23px;
}


.navbar-custom .navbar-collapse{
  border-color: ;
  color:white;
}
.container>.navbar-collapse{
  margin-left: 0;
  margin-right: 0;
}

.navbar-fixed-top .navbar-collapse{
  max-height: 340px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-collapse.collapse{
  display: block
  height: auto
  padding-bottom: 0;
  overflow: visible
}
.navbar-collapse{
  width:auto;
  border-top: 0;
  box-shadow: none;
}

.users.footer
{
	padding: 20px;
	background-color:#303236;
}
.users.footer .content{
	max-width: 1200px;
	margin:0 auto;
}

.users.footer .columns{
	display: flex;
}


.users.footer .content .column{
	padding: 20px 30px;

}

.users.footer .title h4{
	margin: 0px
	padding:10px 0;
	color: #d8dade;
	font-size: 18px;
}
.users.footer .patio .underline{
	width: 30px;
	height: 5px;
	border-bottom: 2px solid #B54321;
}

.users.footer .patio .footer-links{
	margin: 0;
	padding: 30px 0 0;
}

.users.footer .patio .footer-links li{
	margin: 0px 20px 15px 0;
	display: block;
}

.users.footer .about-us .text{
	padding: 30px 0 0;
}

.users.footer .about-us .text p{
	margin: 0 0 10px;
	display: block;
}