doctype html
html(ng-app='PatioWeb')
  head
    title Welcome to Patio!
    link(rel='stylesheet', type='text/css', href='../css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index') PatioWeb
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='index')
                | Home
                span.sr-only (current)
            li
              a(href='apps') Apps
            li
              a(href='article') Article
          ul.nav.navbar-nav.navbar-right
            li
              a.signup-link(data-toggle='modal', data-target='#signup', href='#') Login
            li
              a.signup-link(data-toggle='modal', data-target='#signup', href='#') Sign Up

    #products.row.list-group
    .item.col-xs-4.col-lg-4
      .thumbnail
        img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
        .caption
          h4.group.inner.list-group-item-heading
            | Product title
          p.group.inner.list-group-item-text
            | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .row
            .col-xs-12.col-md-6
              p.lead
                | $21.000
            .col-xs-12.col-md-6
              a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
    .item.col-xs-4.col-lg-4
      .thumbnail
        img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
        .caption
          h4.group.inner.list-group-item-heading
            | Product title
          p.group.inner.list-group-item-text
            | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .row
            .col-xs-12.col-md-6
              p.lead
                | $21.000
            .col-xs-12.col-md-6
              a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
    .item.col-xs-4.col-lg-4
      .thumbnail
        img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
        .caption
          h4.group.inner.list-group-item-heading
            | Product title
          p.group.inner.list-group-item-text
            | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .row
            .col-xs-12.col-md-6
              p.lead
                | $21.000
            .col-xs-12.col-md-6
              a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
    .item.col-xs-4.col-lg-4
      .thumbnail
        img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
        .caption
          h4.group.inner.list-group-item-heading
            | Product title
          p.group.inner.list-group-item-text
            | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .row
            .col-xs-12.col-md-6
              p.lead
                | $21.000
            .col-xs-12.col-md-6
              a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
    .item.col-xs-4.col-lg-4
      .thumbnail
        img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
        .caption
          h4.group.inner.list-group-item-heading
            | Product title
          p.group.inner.list-group-item-text
            | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .row
            .col-xs-12.col-md-6
              p.lead
                | $21.000
            .col-xs-12.col-md-6
              a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
    .item.col-xs-4.col-lg-4
      .thumbnail
        img.group.list-group-image(src='http://placehold.it/400x250/000/fff', alt='')
        .caption
          h4.group.inner.list-group-item-heading
            | Product title
          p.group.inner.list-group-item-text
            | Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .row
            .col-xs-12.col-md-6
              p.lead
                | $21.000
            .col-xs-12.col-md-6
              a.btn.btn-success(href='http://www.jquery2dotnet.com') Add to cart
                
    
    .users.footer
      .content
        .columns
          .column.patio
            .title
              h4 Patio
              .underline
            ul.footer-links
              li
                a.link(href='#') About us
              li
                a.link(href='#') Contact us
              li
                a.link(href='#') Blog
              li
                a.link(href='#') Join us

          .column.about-us
            .title
              h4 About Us
              .underline
            p.text Hi Hello and Bye
              
     

    // 2. Load our 'modules'
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='node_modules/angular/angular.js')
    script(src='node_modules/angular-route/angular-route.js')
    script(src='server.js') 
    script(src="modules/controller/home.client.controller.js")
    script(src="public/js/bootstrap.min.js")
