<md-content layout="column" class="projects-details">

  <section class="section-banner">

    <div class="project-banner">
      <img class="rz-image" ng-src="modules/project/client/img/project-banner.jpg"/>
    </div>

    <div class="projects-info" flex="70" flex-offset="15">
      <h2 class="project-title">Lorem ipsum dolor sit consectetur adipiscing</h2>
      <h4 class="project-owner">By Loren ipsum</h4>
      <div layout="row" layout-align="center center" class="mb15">
        <md-button class="md-purple md-padding border-radius-5 font-16">+ Ryze this artist</md-button>
        <md-button class="md-white md-padding border-radius-5 font-16">+ Follow</md-button>
      </div>
      <p class="projects-followedby">Followed by Auron, Adrian, Ash and 64 others </p>
      <section class="projects-status" layout="row">
        <div flex class="section project-progress">
          <p><span>$10,000</span> raised of $20,000 target</p>
          <md-progress-linear class="rz-progress-linear mt10" md-mode="determinate" value="30"></md-progress-linear>
        </div>
        <div flex class="section" layout="column" layout-align="center center">
          <p>
            <ng-md-icon icon="account_circle"></ng-md-icon>
            <span>200</span> backers
          </p>
        </div>
        <div flex class="section" layout="column" layout-align="center center">
          <p>
            <ng-md-icon icon="access_time"></ng-md-icon>
            <span>30</span> days to go
          </p>
        </div>
      </section>
    </div>
    <div class="banner-overlay"></div>
  </section>

  <div class="section-wrapper">
    <section class ="section-content" layout="column" flex="70" flex-offset="15">
      <!-- DESCRIPTION -->
      <p class="project-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur.
        Praesent nec odio eros. Sed commodo quam non pharetra ultricies. Nullam id tellus semper dui sollicitudin porta ut vel nibh.
        Integer in urna aliquet, vehicula lorem sed, luctus risus. Curabitur consectetur, augue eu maximus ullamcorper, leo sem sagittis justo, sit amet aliquam
        lacus purus nec ante. Nulla accumsan quis velit sit amet suscipit. Aenean ut nibh egestas, dapibus purus pretium, tincidunt diam.
        In vel sapien sed odio condimentum lobortis. Vivamus scelerisque eros eu orci laoreet, eget interdum lorem convallis. <br><br>
        Pellentesque sed erat quis lorem consequat posuere eu vel nunc. Pellentesque consequat auctor laoreet. Donec quis arcu eget magna sagittis congue.
        Aenean quis tortor quis ex viverra dignissim. Ut id vehicula sem. Nulla lectus dolor, efficitur eget ex in, laoreet luctus nunc.
      </p>

      <!-- TOP TRACK -->
      <div class="project-content-section">
        <h2>Troye Sivan’s top tracks</h2>

        <div class="project-tracks rz-tracks">
          <slick settings="vm.slickConfig" slides-to-show="3" slides-to-scroll="1">
            <!-- TRACK ITEM -->
            <div class="rz-track-item">
              <img class="rz-track-cover" ng-src="modules/project/client/img/album-cover.png">
              <div class="rz-track-info">
                <p class="rz-track-title">Lorem ipsum dolor</p>
                <p class="rz-track-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>

            <div class="rz-track-item">
              <img class="rz-track-cover" ng-src="modules/project/client/img/album-cover.png">
              <div class="rz-track-info">
                <p class="rz-track-title">Lorem ipsum dolor</p>
                <p class="rz-track-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>

            <div class="rz-track-item">
              <img class="rz-track-cover" ng-src="modules/project/client/img/album-cover.png">
              <div class="rz-track-info">
                <p class="rz-track-title">Lorem ipsum dolor</p>
                <p class="rz-track-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>

            <div class="rz-track-item">
              <img class="rz-track-cover" ng-src="modules/project/client/img/album-cover.png">
              <div class="rz-track-info">
                <p class="rz-track-title">Lorem ipsum dolor</p>
                <p class="rz-track-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </slick>
        </div>

      </div>

      <!-- CHART -->
      <div class="project-content-section">
        <h2>Lorem Ipsum Dolor Sit Amet?</h2>
        <div layout="row" class="project-statistics">
          <div class="project-target" flex layout="column" layout-align="center center">
            <span>Targeted amount</span>
            <p>$10,000</p>
          </div>
          <div class="project-chart" flex="25">
            <canvas
              id="doughnut"
              class="chart chart-doughnut"
              chart-data="vm.chartData"
              chart-labels="vm.chartLabels"
              chart-options="vm.chartOptions"
              chart-colors="vm.chartColors">
            </canvas>
          </div>
          <div class="project-chart-labels" flex layout="column" layout-align="center start">
            <p class="chart-note" ng-repeat="note in vm.chartNotes" layout="row" >
              <span ng-style="{background: note.color}"></span>
              <label flex>{{note.title}}</label>
            </p>
          </div>
        </div>

      </div>

      <!-- BACKER OPTIONS -->
      <div class="project-content-section">
        <h2>Lorem Ipsum Dolor</h2>
        <div class="project-back-options" layout="row" layout-wrap layout-align="center center">

          <!-- BACK OPTION -->
          <div class="back-option" flex="30">
            <div class="back-option-body">
              <div class="back-option-title">
                  Pledge $300 or more
              </div>
              <div class="back-option-content">
                <p class="back-option-subtitle">Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Etiam scelerisque purus quis ante congue, sit amet venenatis.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Etiam scelerisque purus </li>
                  <li>Quis ante congue sit amet</li>
                </ul>
              </div>
            </div>
            <div class="back-option-action" layout="row" layout-align="center center">
              <md-button class="md-purple mnone" flex>Get this perk</md-button>
            </div>
          </div>

          <!-- BACK OPTION -->
          <div class="back-option" flex="30">
            <div class="back-option-body">
              <div class="back-option-title">
                Pledge $300 or more
              </div>
              <div class="back-option-content">
                <p class="back-option-subtitle">Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Etiam scelerisque purus quis ante congue, sit amet venenatis.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Etiam scelerisque purus </li>
                  <li>Quis ante congue sit amet</li>
                </ul>
              </div>
            </div>
            <div class="back-option-action" layout="row" layout-align="center center">
              <md-button class="md-purple mnone" flex>Get this perk</md-button>
            </div>
          </div>

          <!-- BACK OPTION -->
          <div class="back-option" flex="30">
            <div class="back-option-body">
              <div class="back-option-title">
                Pledge $300 or more
              </div>
              <div class="back-option-content">
                <p class="back-option-subtitle">Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Etiam scelerisque purus quis ante congue, sit amet venenatis.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Etiam scelerisque purus </li>
                  <li>Quis ante congue sit amet</li>
                </ul>
              </div>
            </div>
            <div class="back-option-action" layout="row" layout-align="center center">
              <md-button class="md-purple mnone" flex>Get this perk</md-button>
            </div>
          </div>

          <!-- BACK OPTION -->
          <div class="back-option" flex="30">
            <div class="back-option-body">
              <div class="back-option-title">
                Pledge $300 or more
              </div>
              <div class="back-option-content">
                <p class="back-option-subtitle">Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Etiam scelerisque purus quis ante congue, sit amet venenatis.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Etiam scelerisque purus </li>
                  <li>Quis ante congue sit amet</li>
                </ul>
              </div>
            </div>
            <div class="back-option-action" layout="row" layout-align="center center">
              <md-button class="md-purple mnone" flex>Get this perk</md-button>
            </div>
          </div>

          <!-- BACK OPTION -->
          <div class="back-option" flex="30">
            <div class="back-option-body">
              <div class="back-option-title">
                Pledge $300 or more
              </div>
              <div class="back-option-content">
                <p class="back-option-subtitle">Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Etiam scelerisque purus quis ante congue, sit amet venenatis.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Etiam scelerisque purus </li>
                  <li>Quis ante congue sit amet</li>
                </ul>
              </div>
            </div>
            <div class="back-option-action" layout="row" layout-align="center center">
              <md-button class="md-purple mnone" flex>Get this perk</md-button>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- COMMENTS -->
    <section class ="section-comments" layout="column" flex="70" flex-offset="15">
      <h2>Comments</h2>

      <div class="comments-container">
        <!-- COMMENT ITEM -->
        <div class="comment-item" layout="row" layout-align="center start">
          <img class="rz-avatar large" ng-src="modules/users/client/img/profile/default.png"/>
          <div flex layout="column">
            <div class="comment-info">
              <label class="comment-user">Lorem Ipsum</label>
              <span class="comment-time">Yesterday</span>
            </div>
            <div class="comment-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur. Praesent nec odio eros. Sed commodo quam. Etiam scelerisque purus quis.
            </div>
          </div>
        </div>

        <!-- COMMENT ITEM -->
        <div class="comment-item" layout="row" layout-align="center start">
          <img class="rz-avatar large" ng-src="modules/users/client/img/profile/default.png"/>
          <div flex layout="column">
            <div class="comment-info">
              <label class="comment-user">Lorem Ipsum</label>
              <span class="comment-time">Yesterday</span>
            </div>
            <div class="comment-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur. Praesent nec odio eros. Sed commodo quam. Etiam scelerisque purus quis.
            </div>
          </div>
        </div>

        <!-- COMMENT ITEM -->
        <div class="comment-item" layout="row" layout-align="center start">
          <img class="rz-avatar large" ng-src="modules/users/client/img/profile/default.png"/>
          <div flex layout="column">
            <div class="comment-info">
              <label class="comment-user">Lorem Ipsum</label>
              <span class="comment-time">Yesterday</span>
            </div>
            <div class="comment-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur. Praesent nec odio eros. Sed commodo quam. Etiam scelerisque purus quis.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur. Praesent nec odio eros. Sed commodo quam. Etiam scelerisque purus quis.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur. Praesent nec odio eros. Sed commodo quam. Etiam scelerisque purus quis.
            </div>
          </div>
        </div>

        <!-- COMMENT ITEM -->
        <div class="comment-item" layout="row" layout-align="center start">
          <img class="rz-avatar large" ng-src="modules/users/client/img/profile/default.png"/>
          <div flex layout="column">
            <div class="comment-info">
              <label class="comment-user">Lorem Ipsum</label>
              <span class="comment-time">Yesterday</span>
            </div>
            <div class="comment-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque purus quis ante congue, sit amet venenatis sem consectetur. Praesent nec odio eros. Sed commodo quam. Etiam scelerisque purus quis.
            </div>
          </div>
        </div>
      </div>

      <!-- COMMENT INPUT -->
      <div class="comment-action" layout="column" layout-align="center end">
        <textarea class="input" ng-model="vm.model.comment" rows="5" placeholder="Leave a comment"></textarea>
        <md-button class="md-purple mnone">Comment</md-button>
      </div>

    </section>
  </div>

</md-content>
