<!DOCTYPE html>
<html>
<head>
    <title>article</title>
    <!-- <script src ="http://html5shiv.googlecode.com/svn/trunk/html5.js"> </script> -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div class = "wrapper">
        <header class = "head">
          <nav class = "navigation">
                <a href = "index" class = "logo"><img src ="http://i.imgur.com/PJAppJm.jpg" width="100px" height="60px"></a>
                <a href = "index" class = "item current"> Home </a>
                <a href = "apps" class = "item" >Apps</a>
                <a href = "article" class = "item"> Posts </a>
                <a href = "" class = "item"> Forum </a>
                <a href="#" class="item bars" style="margin-top:10px;">&#9776;</a>
          </nav>
         </header>
    </div>

	  <section class="slideshow-content">
       <div class="slidy-container">
         <figure id="slidy">
          <img src="" height="600px" alt class="slides">
          <img src="" height="600px" alt class="slides">
          <img src="" height="600px" alt class="slides">
          <img src="" height="600px" alt class="slides"> 
          <img src="" height="600px" alt class="slides">
        </figure>
      </div>
     </section>

	<div class = "jumbotron">
     <section class="container">
     	<div class="">
     		<article class="ab-con">
     			<h2>Announcement</h2>
     				<p>Scutty boi</p>
     		</article>
     	</div>

     	<div class="">
     		<article class="learn-con">
     			<h2>Information</h2>
     			<p>Shabalaba~~~</p>
     		</article>
     	</div>
     </section>
	</div>

     <section class="Blog">
     	<div class="post">
     		<h2>Blog posts</h2>
     		<p>lmao lmao</p>
     	</div>
     </section>

     <section class="side">
     	<div class="">
     		<h2>Top 10 Apps</h2>
     	</div>

     	<div class="apps">
     			<h2>Featured Apps</h2>
     	</div>
     </section>

     <footer>
     	<p>Thanks to reading</p>
     	<p>copyrights</p>
     </footer>

</body>
</html>
.article
      .wrapped-content
            #header
              h2 Top Articles
            #hero
              .col-md-6.one
                #art-one(style='border:1px solid black; height:300px;')
                  a.inner(href='#')
                    figure(style='backgrond-image:url(public/img/bitmap3.png)')
                    footer
                      .table
                        h2 Article one
              .col-md-3
                #art-two(style='border:1px solid black;')
                  a.inner(href='#')
                    figure(style='background-image:')
                    footer
                      figcaption
                        h2 The Article 2
                        p shit i see your balls
              .col-md-3
                #art-two(style='border:1px solid black;')
                  a.inner(href='#')
                    figure(style='background-image:url(public/img/bitmap3.png);')
                    footer
                      figcaption
                        h2 The Article 3
                        p shit i see your balls
              .col-md-3
                #art-two(style='border:1px solid black;')
                  a.inner(href='#')
                    figure(style='background-image:')
                    footer
                      figcaption
                        h2 The Article 4
                        p shit i see your balls
              .col-md-3
                #art-two(style='border:1px solid black;')
                  a.inner(href='#')
                    figure(style='background-image:')
                    footer
                      figcaption
                        h2 The Article 5
                        p shit i see your balls

              .col-md-6
                #art-two(style='border:1px solid black;')
                  a.inner(href='#')
                    figure(style='background-image:')
                    footer
                      figcaption
                        h2 The Article 6
                        p shit i see your balls

              .col-md-12
                #art-two(style='border:1px solid black; height:300px;')
                  a.inner(href='#')
                    figure(style='background-image:')
                    footer
                      figcaption
                        h2 The Article 7
                        p shit i see your balls