.comment-item {
  border-top: solid 1px #404040;
  padding: 30px 0;

  &:first-child {
    border-top: 0;
  }

  .comment-info {
    .comment-user {
      color: #ccc;
      font-family: Lato;
      font-size: 17px;
      font-weight: bold;
      line-height: 1.76;
    }

    .comment-time {
      color: #afafaf;
      font-family: Lato;
      font-size: 15px;
      line-height: 2;
      margin-left: 8px;
    }
  }

  .comment-content {
    color: #969696;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.38;
  }
}
