.home-wrapper {
  margin: 30px; }

.image-home {
  text-align: center; }

.play-btn {
  height: 134px;
  width: 134px; }

.image-home h2 {
  font-size: 40px; }

.image-home h4 {
  font-size: 20px; }

.md-btn {
  background-color: #8f72ff;
  border-radius: 8px;
  color: #fff;
  font-size: 13px; }

.md-follow {
  background-color: #fff;
  border-radius: 5px; }

.cont-view {
  padding: 10px; }

.fund-raise {
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 40px;
  text-align: center; }

.content {
  margin: 100px;
  text-align: center; }

.content p {
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.76; }

.md-card-image {
  text-align: left; }

.projects-details .section-banner {
  height: 600px;
  position: relative; }
  .projects-details .section-banner .project-banner img {
    height: 600px;
    width: 100%; }
  .projects-details .section-banner .banner-overlay {
    background-image: -webkit-linear-gradient(top, transparent, rgba(27, 27, 27, 0.8) 56%, #212121);
    background-image: linear-gradient(to bottom, transparent, rgba(27, 27, 27, 0.8) 56%, #212121);
    bottom: 0;
    height: 600px;
    position: absolute;
    width: 100%;
    z-index: 10000; }

.projects-details .section-wrapper {
  background-image: -webkit-linear-gradient(bottom, #313131, #212121);
  background-image: linear-gradient(to top, #313131, #212121);
  padding-bottom: 100px; }

.projects-details .section-content .project-description {
  color: #fff;
  font-family: Lato;
  font-size: 17px;
  line-height: 1.76;
  text-align: center; }

.projects-details .section-content .project-content-section {
  margin-top: 50px; }
  .projects-details .section-content .project-content-section h2 {
    color: #fff;
    font-family: Lato;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center; }

.projects-details .section-comments {
  margin-top: 90px; }
  .projects-details .section-comments h2 {
    color: #cecece;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .projects-details .section-comments .comment-action {
    margin-top: 40px; }
    .projects-details .section-comments .comment-action textarea {
      background: #3b3b3b;
      border: 0;
      box-shadow: none;
      color: #9c9c9c;
      font-family: Lato;
      margin-bottom: 20px;
      outline: none;
      overflow: auto;
      padding: 20px;
      resize: none;
      width: 100%; }

.projects-details .profile-img {
  border-radius: 70px;
  margin: 10px; }

.projects-details .button-get {
  background-color: #8f72ff;
  border-radius: 5px;
  margin-top: -20px; }

.projects-details .com {
  margin-top: 100px; }

.projects-details .projects-info {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 10001; }
  .projects-details .projects-info .project-title {
    color: #fff;
    font-family: Lato;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center; }
  .projects-details .projects-info .project-owner {
    color: #fff;
    font-family: Lato;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center; }
  .projects-details .projects-info .projects-followedby {
    color: #fff;
    font-family: Lato;
    font-size: 16px;
    text-align: center; }
  .projects-details .projects-info .projects-status {
    padding-bottom: 15px; }
    .projects-details .projects-info .projects-status .section {
      padding: 10px; }
      .projects-details .projects-info .projects-status .section p {
        color: #9f9d9d;
        font-size: 18px;
        margin: 0; }
        .projects-details .projects-info .projects-status .section p span {
          color: #b0b0b0;
          font-size: 24px;
          margin-left: 6px;
          margin-right: 6px;
          position: relative;
          top: 2px; }
    .projects-details .projects-info .projects-status .project-progress span {
      color: #8f72ff !important; }

.projects-details .project-statistics .project-target span {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  text-align: center; }

.projects-details .project-statistics .project-target p {
  color: #947eff;
  font-family: Lato;
  font-size: 64px;
  font-weight: bold;
  margin: 0; }

.projects-details .project-statistics .project-chart-labels {
  padding: 0 0 0 35px; }
  .projects-details .project-statistics .project-chart-labels .chart-note {
    margin: 0 0 8px; }
    .projects-details .project-statistics .project-chart-labels .chart-note span {
      display: inline-block;
      height: 10px;
      margin-right: 15px;
      width: 10px; }
    .projects-details .project-statistics .project-chart-labels .chart-note label {
      color: #c6c6c6;
      font-family: Lato;
      font-size: 17px;
      line-height: 1.76;
      position: relative;
      top: -10px; }
