.rz-track-item {
  background-color: #3d3d3d;
  margin: 0 15px; }
  .rz-track-item .rz-track-cover {
    height: 300px;
    width: 100%; }
  .rz-track-item .rz-track-info {
    padding: 20px; }
    .rz-track-item .rz-track-info .rz-track-title {
      color: #d5d5d5;
      font-family: Lato;
      font-size: 18px;
      font-weight: 500;
      margin: 0 0 8px; }
    .rz-track-item .rz-track-info .rz-track-desc {
      color: #9b9b9b;
      font-family: Lato;
      font-size: 16px;
      margin: 0; }
